@import url("./fonts.css");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: inherit;
  list-style-type: none;
  text-decoration: none;
}

:root {
  --color-secondary-900: rgb(17, 24, 39);
  --color-secondary-800: rgb(31, 41, 55);
  --color-secondary-700: rgb(55, 65, 81);
  --color-secondary-600: rgb(75, 85, 99);
  --color-secondary-500: rgb(107, 114, 128);
  --color-secondary-400: rgb(156, 163, 175);
  --color-secondary-300: rgba(222, 225, 229, 0.38);
  --color-secondary-200: rgb(229, 231, 235);
  --color-secondary-100: rgb(243, 244, 246);
  --color-secondary-50: rgb(249, 250, 251);
  --color-secondary-0: rgb(255, 255, 255);

  --color-primary-900: rgb(77, 112, 255);
  --color-primary-800: rgb(92, 124, 255);
  --color-primary-700: rgb(92, 124, 255);
  --color-primary-600: rgb(128, 153, 255);
  --color-primary-500: rgb(146, 167, 255);
  --color-primary-400: rgb(164, 182, 255);
  --color-primary-300: rgb(183, 197, 255);
  --color-primary-200: rgb(201, 211, 255);
  --color-primary-100: rgb(219, 226, 255);
  --color-primary-50: rgb(228, 233, 255);

  --border-radius-tiny: 3px;
  --border-radius-sm: 5px;
  --border-radius-md: 7px;
  --border-radius-lg: 9px;

  --color-success: rgb(0, 192, 115);
  --color-warning: rgb(255, 153, 0);
  --color-error: rgb(255, 71, 87);
  --color-red-700: rgb(185, 28, 28);
  --color-red-800: rgb(153, 27, 27);
  --color-red-500: rgb(239, 68, 68);
  --color-red-300: rgb(252, 165, 165);
  --color-red-100: rgb(254, 226, 226);

  --color-blue-btn: #009baf;
  --color-gray-400: #878787;
  --color-gray-500: #ececec;
  --color-gray-600: #87878793;
}

.take {
  color: var(--color-error);
}
.resive {
  color: var(--color-success);
}

body {
  font-family: "vazir", sans-serif;
  background-color: var(--color-secondary-300);
  padding: 0 8px;
  padding-top: 9vh;
}

body {
  font-family: Vazirmatn;
}

html {
  font-size: 62.5%;
}

/* btn */
.btn {
  color: white;
  font-weight: bold;
  padding: 2.3rem 2rem;
  width: 100%;
  max-width: 60.8rem;
  font-size: 4.2rem;
  border-radius: 28px;
  border: 0;
  outline: 0;
  background-color: #009baf;
  transition: 200ms all;
}

.btn:hover {
  opacity: 0.7;
  transform: translate(-0px, -0px) scale(0.9);
}

.btn:active {
  transform: scale(0.8);
}

/* main */
.main {
  margin: 0 auto;
  max-width: 95vw;
  min-height: 20vh;
  width: 100%;
  transition: max-width 200ms;
}

@media screen and (min-width: 40rem) {
  .main {
    max-width: 720px;
  }
}

@media screen and (min-width: 60rem) {
  .main {
    max-width: 900px;
  }
}

@media screen and (min-width: 70rem) {
  .main {
    max-width: 1200px;
  }
}

/* app */

.app-header {
  display: flex;
  justify-content: space-between;
  color: var(--color-gray-400);
  align-items: center;
  transition: margin-bottom 200ms;
  margin-bottom: clamp(3rem, 3vw, 5rem);
}

.app-header span {
  font-size: clamp(2rem, 4vw, 3.1rem);
  transition: font-size 200ms;
  font-weight: 800;
  flex: 1 1 50%;
  gap: clamp(0, 3vw, 1rem);
}

.search-wrapper {
  border: var(--color-secondary-300) solid 1px;
  background-color: 0;
  outline: 0;
  flex: 1 1 50%;
  display: flex;
  justify-content: space-between;
  border-radius: 18px;
  background-color: white;
  align-items: center;
  padding: clamp(0.5rem, 1vw, 1rem) clamp(1rem, 3vw, 2rem);
  transition: scale 200ms;
}

.search-wrapper input {
  border: 0;
  background: transparent;
  outline: 0;
  font-size: clamp(0.5rem, 2vw, 1.9rem);
  display: block;
  flex: 1 1 100%;
}
.search-wrapper:active {
  scale: 1.09;
}

.hidden {
  display: none;
}
.block {
  display: flex;
}

/* content--section */
.content--section {
  background-color: white;
  box-shadow: 2px 12px 20px rgba(198, 197, 197, 0.167);
  border: solid 1px var(--color-gray-500);
  border-radius: 10px;
  transition: all 200ms;
  padding: 5.1rem clamp(1rem, 3vw, 4rem);
}

.transaction--title {
  font-size: clamp(1.2rem, 3vw, 1.7rem);
  color: var(--color-gray-600);
  font-weight: 700;
  margin-bottom: clamp(1rem, 2vw, 2rem);
  transition: margin-bottom 200ms;
}

/* transaction--table */

.transaction--table {
  display: flex;
  flex-direction: column;
  width: 100%;
  border-radius: 12px;
}
.transaction--table :last-child {
  border-radius: 0 0 12px 12px;
}

tr:has(th) {
  display: flex;
  background: var(--color-secondary-300);
  width: 100%;
  gap: 1rem;
  justify-content: space-between;
  border-radius: 12px;
  border-radius: 12px 12px 0 0;
}
tr th {
  padding: 1.5rem 0;
  text-align: center;
  flex: 1 1 50%;
  color: var(--color-secondary-500);
  font-weight: 700;
  font-size: clamp(8px, 2vw, 15px);
}

tr:has(td) {
  display: flex;
  border: solid 1px var(--color-gray-500);
  justify-content: space-between;
}
tr td {
  padding: 1.5rem 0;
  text-align: center;
  flex: 1 1 50%;
  color: var(--color-secondary-500);
  font-weight: 700;
  font-size: clamp(8px, 2vw, 12px);
}
